.container_up {
    display: grid;
    grid-template-columns: 625px 1fr 1fr;
    width: 100%;
    height: auto;

    @media (max-width: 1200px) {
        
        grid-template-columns: 0px 1fr 1fr;
    
    }

    @media (max-width: 768px) {
        
        display: block; 

    }
}

.container_img {
    width: 626px;
    height: 100%;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

    @media (max-width: 1200px) {
        visibility: hidden;
    }
    @media (max-width: 768px) {
        display: none;
    }

}

.footer_info {

    color: white;
    padding: 25px 40px;

    @media (max-width: 1024px) {
        padding: 10px 20px;
    }
    @media (max-width: 1200px) {
        padding: 5px 10px;
    }

}

.footer_nav {
    display: flex;
    justify-content: center;
    padding: 40px 30px 50px 31px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    gap: 30px;

    @media (max-width: 768px) {
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-right: none;
    }
    
}

.up_column {

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;

}

.container_operating-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    line-height: 20px;

    @media (max-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

.container_operating-mode p{
    font-weight: 500;
    font-size: 1.14rem;
}

.container_down {
    display: grid;
    width: 100%;
    justify-content: space-between;
    padding: 11px 0px 30px 0px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    
}

.container_name {
    display: flex;
    justify-content: flex-start;
}

.name {
    color: white;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    

    @media (max-width: 1024px) {

        font-size: 3rem;
        max-width: 35%;

    }
    @media (max-width: 768px) {

        font-size: 1.5rem;
        max-width: 40%;

    }

}

.near_the-name {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.64);
    font-weight: 500;
    align-self: flex-end;

    @media (max-width: 768px) {

        font-size: 0.5rem;

    }
}

.container_contacts {

    text-align: right;

}

.address {
    font-size: 1.14rem;
    color: rgba(255, 255, 255, 0.64);
    font-weight: 500;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
}

.phone_email {
    font-size: 1.43rem;
    font-weight: 600;
    color: white;

    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}