.container_up {
    display: grid;
    grid-template-columns: 625px 1fr 1fr;
    width: 100%;
    height: auto;

    @media (max-width: 1200px) {
        
        grid-template-columns: 0px 1fr 1fr; 
    }

    @media (max-width: 768px) {
        
        grid-template-columns: 1fr; 
    }
}

.container_img {
    width: 626px;
    height: 100%;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

    @media (max-width: 1200px) {
        display: none;
    }

}

.footer_info {

    color: white;
    padding: 25px 40px;

}

.footer_nav {
    display: flex;
    width: 354px;
    justify-content: center;
    padding: 40px 30px 0px 31px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    gap: 30px;
    padding-bottom: 50px;
    
}

.up_column {

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;

}

.container_operating-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    line-height: 20px;

}

.container_operating-mode p{
    font-weight: 500;
    font-size: 1.14rem;
}

.container_down {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 11px 0px 30px 0px;
    flex-wrap: wrap; 
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
}

.container_name {
    display: flex;
    
}

.name {
    color: white;
    font-size: 70px;
    font-weight: 800;
    width: 251px;
    text-transform: uppercase;
}

.near_the-name {
    font-size: 16;
    color: rgba(255, 255, 255, 0.64);
    font-weight: 500;
    margin-top: 65px;
}

.container_contacts {

    text-align: right;

    @media (max-width: 768px) {
        text-align: center;
    }

}

.address {
    font-size: 1.14rem;
    color: rgba(255, 255, 255, 0.64);
    font-weight: 500;
    margin-bottom: 20px;
}

.phone_email {
    font-size: 1.43rem;
    font-weight: 600;
    color: white;
}