.product-groups_container {

    padding: 143px 0px 91px 0px;

    .product-groups {

        background-color: rgba(229, 122, 29, 1);
        width: 100%;
        padding: 60px;
        border-radius: 50px;

    }

}