<!DOCTYPE html>
{% load django_vite %}
{% load static %}
{% load django_vite static %}
<html lang="en">
<head>
    {% if debug %}
        {% vite_hmr_client %}
    {% endif %}
    {% vite_asset 'src/js/main.js' %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>