<section class="about">
    <div class="container">
        <div class="about_wrapper">
            <div class="about_content">
                <div class="about_text">
                    <p class="about_text_paragraph">{{ site_settings.seo_description }}</p>
                </div>
                <h2 class="about_indicators_title">Почему именно мы?</h2>
                <ul class="about_indicators_list">
                    <li class="about_indicators_item">
                        <div class="about_indicators_item_image about_first_image "></div>
                        <div class="about_indicators_item_text">Скорость</div>
                    </li>
                    <li class="about_indicators_item">
                        <div class="about_indicators_item_image about_second_image"></div>
                        <div class="about_indicators_item_text">Качество</div>
                    </li>
                    <li class="about_indicators_item">
                        <div class="about_indicators_item_image about_third_image"></div>
                        <div class="about_indicators_item_text">Надежность</div>
                    </li>
                </ul>
            </div>
            <img class="about_logo" src="{{ site_settings.logo_header.url }}"></img>
        </div>
    </div>
</section>