<div class="footer_info">
    <div class="container_up">
        <div class="container_img">
            <img src="../../../../media/footer/arrow.png" alt="arrow">
        </div>
        <div class="all_pages">
            <div class="first_column">
                <p>О компании</p>
                <p>Производители</p>
                <p>Товары</p>
            </div>
            <div class="second_column">
                <p>Наши клиенты</p>
                <p>Связаться с нами</p>
            </div>
        </div>
        <div class="container_operating-mode">
            <p>Режим работы: {{contacts.work_hours}}</p>
        </div>
    </div>
    <div class="container_down">
        <div class="container_name">
            <p class="name">Абис трейд</p>
            <p class="near_the-name">© ООО “АБИС Трейд”</p>
        </div>
        <div class="container_contacts">
            <p class="address">{{contacts.address}}</p>
            <p class="phone_email">{{contacts.main_phone}} / {{contacts.email}}</p>
        </div>
    </div>
</div>