<div class="footer_info">
    <div class="container_up">
        <div class="container_img"></div>
        <div class="footer_nav">
            <div class="first_column up_column">
                <a href="#about">О компании</a>
                <a href="#manufacturers">Производители</a>
                <a href="#products">Товары</a>
            </div>
            <div class="second_column up_column">
                <a href="#clients">Наши клиенты</a>
                <a href="#our_feedback">Связаться с нами</a>
            </div>
        </div>
        <div class="container_operating-mode">
            <p>Режим работы:<br> {{contacts.work_hours}}</p>
        </div>
    </div>
    <div class="container_down">
        <div class="container_name">
            <p class="name">{{ site_settings.site_name }}</p>
            <p class="near_the-name">{{ site_settings.copyright_text }}</p>
        </div>
        <div class="container_contacts">
            <p class="address">{{contacts.address}}</p>
            <p class="phone_email">{{contacts.main_phone}} / {{contacts.email}}</p>
        </div>
    </div>
</div>