<nav class="nav header_nav">
    {% if site_settings.logo_header %}
    <img src="{{ site_settings.logo_header.url }}" alt="Логотип сайта" class="header_logo">
    {% endif %}
    <ul class="main_nav_list">
        <li class="main_nav_list_item"><a href="#about">О компании</a></li>
        <li class="main_nav_list_item"><a href="#manufacturers">Производители</a></li>
        <li class="main_nav_list_item"><a href="#products">Товары</a></li>
        <li class="main_nav_list_item"><a href="#clients">Наши клиенты</a></li>
        <li class="main_nav_list_item"><a href="#feedback">Связаться с нами</a></li>
    </ul>
</nav>
