<nav class="nav header_nav">
    <img src="{{ site_settings.logo_header.url }}" alt="Логотип сайта" class="header_logo">
    <ul class="main_nav_list">
        <a href="#about"><li class="main_nav_list_item">О компании</li></a>
        <a href="#manufacturers"><li class="main_nav_list_item">Производители</li></a>
        <a href="#products"><li class="main_nav_list_item">Товары</li></a>
        <a href="#clients"><li class="main_nav_list_item">Наши клиенты</li></a>
        <a href="#feedback"><li class="main_nav_list_item">Связаться с нами</li></a>
    </ul>
</nav>
